*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} 

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.pads {
    background: lightblue;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.pads > div {
    height: 100px;
    /* flex: 1; */
    margin: 20px;
    flex-basis: 200px;
    

}

.pads > div > h1 {
    color: white;
}

.pad1 {
    background: #60d394;
}

.pad2 { 
    background: #889c91;
}

.pad3 {
    background: #3b4c96;
}

.pad4 {
    background: #da6447;
}

.pad5 {
    background: #6309f5;
}

.pad6 {
    background: #9c1496;
}

.visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 20%;
    /* transform: scale(1); */
    z-index: -1;
}

@keyframes jump {
    0% {
        bottom: 50%;
        left: 0%;
      }
      25% {
        bottom: 50%;
        left: 90%;
      }
      50% {
        bottom: 20%;
        left: 90%; 
      }
      75% {
        bottom: 20%;
        left: 50%;
      }
      100% {
        bottom: 20%;
        left: 00%;
      }
}

    